/* 数字输入框 */
$ipt-number-prefix                   : #{$css-prefix}-ipt-number;

// 主容器
.#{$ipt-number-prefix}-wrap {
    position: relative;
    display: inline-block;
    width: $ipt-width-default;
    vertical-align: middle;

    // 输入框
    .#{$ipt-number-prefix} {
        width: 100%;
        color: $font-content-color;
        outline: 0;
        text-align: center;
        border: 1px solid transparent;
        transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;

        // 禁止输入
        &[disabled] {
            &,
            &.hover,
            &:hover {
                cursor: not-allowed;
                color: $font-disabled-color;
                border-color: $border-color;
                background-color: $ipt-disabled-bg;
            }
        }
    }

    //加减按钮
    .#{$ipt-number-prefix}-reduce,
    .#{$ipt-number-prefix}-plus {
        position: absolute;
        z-index: 1;
        display: block;
        cursor: pointer;
        color: $font-content-color;
        transition: color .2s ease-in-out;

        &.disabled {
            color: $font-disabled-color;
            cursor: not-allowed;
        }

        &:not(.disabled):hover {
            color: $color-primary;
        }
    }

    &:not(.controls-right) {
        .#{$ipt-number-prefix}-reduce,
        .#{$ipt-number-prefix}-plus {
            top: 1px;
        }
        .#{$ipt-number-prefix}-reduce {
            left: 1px;
            border-right: 1px solid $border-color;
        }
        .#{$ipt-number-prefix}-plus {
            right: 1px;
            border-left: 1px solid $border-color;
        }
    }

    &.controls-right {
        .#{$ipt-number-prefix}-reduce,
        .#{$ipt-number-prefix}-plus {
            right: 1px;
            border-left: 1px solid $border-color;
        }
        .#{$ipt-number-prefix}-plus {
            top: 1px;
        }
        .#{$ipt-number-prefix}-reduce {
            bottom: 1px;
            border-top: 1px solid $border-color;
        }

        .#{$ipt-number-prefix} {
            text-align: left;
        }
    }

    // 默认颜色风格
    @include ipt-number-color($border-color, $color-primary);
    // 默认尺寸
    @include ipt-number-size($ipt-size-default, $ipt-font-size-default);
}

// 数字输入框尺寸
.#{$ipt-number-prefix}-wrap-mini {
    @include ipt-number-size($ipt-size-mini, $ipt-font-size-mini);
}
.#{$ipt-number-prefix}-wrap-small {
    @include ipt-number-size($ipt-size-small, $ipt-font-size-small);
}
.#{$ipt-number-prefix}-wrap-large {
    @include ipt-number-size($ipt-size-large, $ipt-font-size-large);
}

// 占整行
.#{$ipt-number-prefix}-wrap-long {
    display: block;
    width: 100%;
}
