/* 数字输入框 */
$ipt-number-prefix                   : #{$css-prefix}-ipt-number;

// 主容器
.#{$ipt-number-prefix}-wrap {
    position: relative;
    display: inline-block;
    width: $ipt-width-default;

    // 输入框
    .#{$ipt-number-prefix} {
        width: 100%;
        color: $font-content-color;
        outline: 0;
        text-align: center;
        border: 1px solid transparent;
        transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;

        // 禁止输入
        &[disabled] {
            &,
            &.hover,
            &:hover {
                cursor: not-allowed;
                color: $font-disabled-color;
                border-color: $border-color;
                background-color: $ipt-disabled-bg;
            }
        }
    }

    //加减按钮
    .#{$ipt-number-prefix}-reduce,
    .#{$ipt-number-prefix}-plus {
        position: absolute;
        top: 1px;
        z-index: 1;
        display: block;
        cursor: pointer;
        color: $font-disabled-color;
        transition: color .2s ease-in-out;

        &:hover {
            color: $color-primary;
        }
    }

    .#{$ipt-number-prefix}-reduce {
        left: 1px;
        border-right: 1px solid $border-color;
    }
    .#{$ipt-number-prefix}-plus {
        right: 1px;
        border-left: 1px solid $border-color;
    }

    // 默认颜色风格
    @include ipt-number-color($border-color, $color-primary);
    // 默认尺寸
    @include ipt-number-size($ipt-size-default, $ipt-font-size-default);
}

// 占整行
.#{$ipt-number-prefix}-wrap-long {
    display: block;
    width: 100%;
}
