// 开始时和结束后
.m-zoom-enter,
.m-zoom-leave-to {
    opacity: 0;
}
// 制作动画类
@include make-animate("zoom");

// 进入动画
@keyframes m-zoom-in {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
      opacity: 1;
    }
}

// 退出动画
@keyframes m-zoom-out {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 0;
    }
}
