// 开始时和结束后
.m-fade-up-enter,
.m-fade-up-leave-to {
    opacity: 0;
}
// 制作动画类
@include make-animate("fade-up");

// 进入动画
@keyframes m-fade-up-in {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

// 退出动画
@keyframes m-fade-up-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}