/* 字体图标 */

// 引入字体文件
@font-face {
    font-family: 'McakeFont';
    src: url('./fonts/McakeFont.eot?v=1.0.0-alpha.0');
    src: url('./fonts/McakeFont.eot?#iefix&v=1.0.0-alpha.0') format('embedded-opentype'),
        url('./fonts/McakeFont.ttf?v=1.0.0-alpha.0') format('truetype'),
        url('./fonts/McakeFont.woff?v=1.0.0-alpha.0') format('woff'),
        url('./fonts/McakeFont.svg?v=1.0.0-alpha.0#McakeFont') format('svg');
    font-weight: normal;
    font-style: normal;
}
// 公共样式
[class^="m-i-"], [class*=" m-i-"] {
    font-family: 'McakeFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    vertical-align: -.125em;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// 图标旋转加载中动画
.m-i-spin-loading {
    animation: spin-loading $icon-loading-animation-duration infinite linear;
}


// 具体图标
.m-i-ask-o:before {
  content: "\e900";
}
.m-i-ask-o-b:before {
  content: "\e901";
}
.m-i-back:before {
  content: "\e902";
}
.m-i-bottom:before {
  content: "\e903";
}
.m-i-bottom-b:before {
  content: "\e904";
}
.m-i-bottom-l:before {
  content: "\e905";
}
.m-i-chart:before {
  content: "\e906";
}
.m-i-checkbox:before {
  content: "\e907";
}
.m-i-checkbox-2:before {
  content: "\e908";
}
.m-i-code:before {
  content: "\e909";
}
.m-i-collect:before {
  content: "\e90a";
}
.m-i-collect-b:before {
  content: "\e90b";
}
.m-i-comment:before {
  content: "\e90c";
}
.m-i-commodity:before {
  content: "\e90d";
}
.m-i-commonly-face:before {
  content: "\e90e";
}
.m-i-copy:before {
  content: "\e90f";
}
.m-i-diamond:before {
  content: "\e910";
}
.m-i-diamond-b:before {
  content: "\e911";
}
.m-i-download:before {
  content: "\e912";
}
.m-i-edit:before {
  content: "\e913";
}
.m-i-error:before {
  content: "\e914";
}
.m-i-error-face:before {
  content: "\e915";
}
.m-i-error-o:before {
  content: "\e916";
}
.m-i-error-o-b:before {
  content: "\e917";
}
.m-i-follow:before {
  content: "\e918";
}
.m-i-follow-b:before {
  content: "\e919";
}
.m-i-form:before {
  content: "\e91a";
}
.m-i-form-b:before {
  content: "\e91b";
}
.m-i-form-success:before {
  content: "\e91c";
}
.m-i-form-success-b:before {
  content: "\e91d";
}
.m-i-heart:before {
  content: "\e91e";
}
.m-i-home:before {
  content: "\e91f";
}
.m-i-home-b:before {
  content: "\e920";
}
.m-i-hot:before {
  content: "\e921";
}
.m-i-img:before {
  content: "\e922";
}
.m-i-img-error:before {
  content: "\e923";
}
.m-i-info-o:before {
  content: "\e924";
}
.m-i-info-o-b:before {
  content: "\e925";
}
.m-i-label:before {
  content: "\e926";
}
.m-i-label-b:before {
  content: "\e927";
}
.m-i-left:before {
  content: "\e928";
}
.m-i-left-b:before {
  content: "\e929";
}
.m-i-loading:before {
  content: "\e92a";
}
.m-i-loading-2:before {
  content: "\e92b";
}
.m-i-loading-3:before {
  content: "\e92c";
}
.m-i-loading-windmill:before {
  content: "\e92d";
}
.m-i-location:before {
  content: "\e92e";
}
.m-i-mail:before {
  content: "\e92f";
}
.m-i-mail-b:before {
  content: "\e930";
}
.m-i-nav:before {
  content: "\e931";
}
.m-i-plus:before {
  content: "\e932";
}
.m-i-plus-o:before {
  content: "\e933";
}
.m-i-plus-o-b:before {
  content: "\e934";
}
.m-i-publish:before {
  content: "\e935";
}
.m-i-radio:before {
  content: "\e936";
}
.m-i-radio-2:before {
  content: "\e937";
}
.m-i-reduce:before {
  content: "\e938";
}
.m-i-reduce-o:before {
  content: "\e939";
}
.m-i-reduce-o-b:before {
  content: "\e93a";
}
.m-i-refresh:before {
  content: "\e93b";
}
.m-i-remove:before {
  content: "\e93c";
}
.m-i-right:before {
  content: "\e93d";
}
.m-i-right-b:before {
  content: "\e93e";
}
.m-i-search:before {
  content: "\e93f";
}
.m-i-see:before {
  content: "\e940";
}
.m-i-send:before {
  content: "\e941";
}
.m-i-send-b:before {
  content: "\e942";
}
.m-i-settings:before {
  content: "\e943";
}
.m-i-settings-b:before {
  content: "\e944";
}
.m-i-share:before {
  content: "\e945";
}
.m-i-shopping-cart:before {
  content: "\e946";
}
.m-i-shopping-cart-b:before {
  content: "\e947";
}
.m-i-sign:before {
  content: "\e948";
}
.m-i-success:before {
  content: "\e949";
}
.m-i-success-face:before {
  content: "\e94a";
}
.m-i-success-o:before {
  content: "\e94b";
}
.m-i-success-o-b:before {
  content: "\e94c";
}
.m-i-time:before {
  content: "\e94d";
}
.m-i-top:before {
  content: "\e94e";
}
.m-i-top-b:before {
  content: "\e94f";
}
.m-i-top-l:before {
  content: "\e950";
}
.m-i-upload:before {
  content: "\e951";
}
.m-i-user:before {
  content: "\e952";
}
.m-i-user-b:before {
  content: "\e953";
}
.m-i-user-group:before {
  content: "\e954";
}
.m-i-warn-o:before {
  content: "\e955";
}
.m-i-warn-o-b:before {
  content: "\e956";
}