// 输入框尺寸和形状
@mixin ipt-number-size($height, $font-size) {
    font-size: $font-size;

    .#{$ipt-number-prefix}-reduce,
    .#{$ipt-number-prefix}-plus {
        width: $height;
        height: $height - 2px;
        line-height: $height - 2px;
        text-align: center;
    }

    .#{$ipt-number-prefix} {
        height: $height;
        padding: 0 ($ipt-padding-default + $height);
    }
}


// 数字输入框颜色风格
@mixin ipt-number-color($ipt-border-color, $ipt-border-hover-color: $ipt-border-color) {
    .#{$ipt-number-prefix} {
        border-color: $ipt-border-color;

        // 鼠标移入
        &.hover,
        &:hover {
            border-color: $ipt-border-hover-color;
        }

        // 获取焦点
        &.focus,
        &:focus {
            border-color: lighten($ipt-border-hover-color, $color-gradient);
            box-shadow: $ipt-box-shadow lighten($ipt-border-hover-color, $color-gradient);
        }
    }

    .#{$ipt-number-prefix}-reduce,
    .#{$ipt-number-prefix}-plus {
        &:hover {
            & ~ .#{$ipt-number-prefix} {
                border-color: $ipt-border-hover-color;
            }
        }
    }
}
