// 输入框尺寸和形状
@mixin ipt-number-size($height, $font-size) {
    font-size: $font-size;

    .#{$ipt-number-prefix}-reduce,
    .#{$ipt-number-prefix}-plus {
        width: $height;
        text-align: center;
    }
    .#{$ipt-number-prefix} {
        height: $height;
    }

    // 按钮默认位置
    &:not(.controls-right) {
        .#{$ipt-number-prefix}-reduce,
        .#{$ipt-number-prefix}-plus {
            height: $height - 2px;
            line-height: $height - 2px;
        }

        .#{$ipt-number-prefix} {
            padding: 0 ($ipt-padding-default + $height);
        }
    }
    // 按钮居右边
    &.controls-right {
        .#{$ipt-number-prefix}-reduce,
        .#{$ipt-number-prefix}-plus {
            height: ($height - 2px) / 2;
            line-height: ($height - 2px) / 2;
        }
        .#{$ipt-number-prefix} {
            padding: 0 ($ipt-padding-default + $height) 0 $ipt-padding-default;
        }
    }

    // 带圆角的
    &.#{$ipt-number-prefix}-wrap-fillet{
        .#{$ipt-number-prefix} {
            border-radius: round($height * $border-radius-ratio);
        }
    }
}


// 数字输入框颜色风格
@mixin ipt-number-color($ipt-border-color, $ipt-border-hover-color: $ipt-border-color) {
    .#{$ipt-number-prefix} {
        border-color: $ipt-border-color;

        // 鼠标移入
        &.hover,
        &:hover {
            border-color: $ipt-border-hover-color;
        }

        // 获取焦点
        &.focus,
        &:focus {
            border-color: lighten($ipt-border-hover-color, $color-gradient);
            box-shadow: $ipt-box-shadow lighten($ipt-border-hover-color, $color-gradient);
        }
    }

    .#{$ipt-number-prefix}-reduce,
    .#{$ipt-number-prefix}-plus {
        &:hover:not(.disabled) {
            & ~ .#{$ipt-number-prefix} {
                border-color: $ipt-border-hover-color;
            }
        }
    }
}
